<nav>
  <div class="nav-wrapper">
    <%= link_to 'Billet Ami', root_path, class: 'brand-logo' %>
    <ul class="right hide-on-med-and-down">
      <% if sign_in? %>
          <li>
            <%= link_to 'Logout', sessions_path, method: :delete %>
          </li>
      <% else %>
          <li><a class="modal-trigger" href="#register-modal">Register</a></li>
          <li><a class="modal-trigger" href="#login-modal">Login</a></li>
      <% end %>
      <li><a href="#">Tạo sự kiện</a></li>
    </ul>
  </div>
</nav>

<!-- Register Modal -->
<%= render 'users/new' %>

<!-- Login Modal -->
<%= render 'sessions/new' %>
