<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">Billet Ami</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Đăng nhập</a></li>
      <li><a href="#">Đăng ký</a></li>
      <li><a href="#">Tạo sự kiện</a></li>
    </ul>
  </div>
</nav>
