<table class="bordered centered striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  </thead>

  <tbody id="ticket-body">
  <tr>
    <td>Total</td>
    <td></td>
    <td>
      <input type="hidden" id="total_money" name="order[total_money]" value="0">
      <b id="total">0 VND</b>
    </td>
  </tr>
  </tbody>
</table>