<table class="bordered centered striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  </thead>

  <tbody>
  <%= render partial: 'ticket_types/ticket_type_row',
             collection: @ticket_types, as: :ticket_type %>
  </tbody>
</table>